# Help file
HELP.md

# Build directories
target/
!**/src/main/**/target/
!**/src/test/**/target/
# Exclude dependencies
/target/dependency/

# Maven Wrapper files
.mvn/
mvnw
mvnw.cmd
!**/.mvn/wrapper/maven-wrapper.jar

# NetBeans files
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Log files
*.log

# Temporary files
*.class
*.swp         # Vim swap files

# System files
.DS_Store      # macOS
Thumbs.db      # Windows
ehthumbs.db    # Windows
